* {
    box-sizing: border-box;
}

:root {
    --color-primary: #6AAFE6;
    --color-primary-shadow: rgb(12, 53, 106, .16);
    --color-violet: #D1B6E1;
    --color-violet-shadow: rgb(163, 103, 177, .16);
    --color-green: #58C9B9;
    --color-green-shadow: rgb(23, 89, 74, .16);
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-opensans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

body {
    font-family: var(--font-opensans);
}

a {
    text-decoration: none;
}


/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid var(--color-light-grey);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    z-index: 4;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--font-raleway);
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
}

.header__logo {
    font-size: 2rem;
}

.menu {
}

.nav__menu {
    list-style: none;
    display: flex;
}

.menu__link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.menu__link:hover {
    border-color: var(--color-primary);
    color: var(--color-black);
}

.menu__list {
    padding: 0 26px;
}

.menu__list:last-child {
    padding-right: 0;
}


/*------------------------------------*\
  #HERO
\*------------------------------------*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__inside {
    margin-top: 130px;
    text-align: center;
}

.btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn--hero {
    width: 440px;
    height: 67px;
}

.btn--hero:hover {
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.hero__title {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    color: var(--color-black);
}

.hero__text {
    color: var(--color-black);
    margin-top: 20px;
    margin-bottom: 38px;
}

.hero__background {
    width: 100%;
    height: auto;
}


/*------------------------------------*\
  #PLATFORM
\*------------------------------------*/

.section__platform {
    margin-top: 100px;
}

.section__title {
    font-family: var(--font-raleway);
    font-size: 2.5rem;
    color: var(--color-black);
    text-align: center;
}

.platform__list {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 100px auto 120px;
}

.platform__article {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    width: 80px;
    height: 80px;
    position: relative;
}

.article__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.icon__img {
    height: 48px;
    width: 55px;
    position: absolute;
    translate: 30px 10px;
    z-index: 2;
}

.circle--violet {
    background-color: var(--color-violet);
}

.circle--blue {
    background-color: var(--color-primary);
}

.circle--green {
    background-color: var(--color-green);
}

.article__title {
    font-size: 1.25rem;
    font-family: var(--font-raleway);
    font-weight: 800;
    color: var(--color-black);
    letter-spacing: 0.1875rem;
    text-align: center;
}

.article__text {
    font-family: var(--font-raleway);
    color: var(--color-grey);
    text-align: center;
    line-height: 1.25rem;
    padding: 0.625rem;
    margin-bottom: 100px;
}


/*------------------------------------*\
  #INFO
\*------------------------------------*/

.section__info {
    background-color: var(--color-light-grey);
    padding: 100px 0;
}

.info__container {
    padding: 0 100px;
}

.info__rows {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.info__text {
    max-width: 415px;
    margin: 90px 36px;
}

.info__text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.info__image {
    position: relative;
}

.info__image img {
    position: relative;
    z-index: 2;
}

.info__title {
    font-family: var(--font-raleway);
    color: var(--color-black);
    font-size: 2.25rem;
    padding-bottom: 20px;
}

.info__description {
    color: var(--color-black);
    line-height: 1.375rem
}

.info__rows--macbook {
    --accent-color: var(--color-violet);
    padding: 20px;
}

.info__rows--macbook .info__image {
    margin-right: 117px;
    margin-bottom: 38px;
}

.info__rows--macbook .info__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.info__rows--macbook .info__image img {
    width: 386px;
    height: auto;
}

.info__rows--phone {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.info__rows--phone .info__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-top: 10px;
}

.info__rows--phone .info__image img {
    width: 426px;
    height: auto;
    padding-top: 20px;
}

.info__rows--phone .info__text {
    margin: 70px 0;
}

.info__double {
    --accent-color: var(--color-green);
    display: flex;
}

.info__double > div {
    margin-bottom: 0;
}

.info__rows--part1 {
    max-width: 620px;
    flex-grow: 1;
}

.info__rows--part1 .benefits__text {
    max-width: none;
    margin: 70px 35px;
}

.info__rows--part2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.info__rows--part2 img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

/*------------------------------------*\
  #PRICING
\*------------------------------------*/

.pricing__container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}

.pricing__box {
    width: 370px;
    border-radius: 18px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__box--basic {
    border: 1px solid var(--color-violet);
}

.pricing__box--professional {
    border: 1px solid var(--color-primary);
}

.pricing__box--premium {
    border: 1px solid var(--color-green);
}

.pricing__details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}

.pricing__title {
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--color-black);
}

.pricing__subtitle {
    font-family: var(--font-opensans);
    font-weight: 300;
    font-size: 2.875rem;
    margin-top: 25px;
    margin-bottom: 20px;
}

.pricing__subtitle--1 {
    color: var(--color-violet);
    margin-bottom: 30px;
}

.pricing__subtitle--2 {
    color: var(--color-primary);
}

.pricing__subtitle--3 {
    color: var(--color-green);
}

.pricing__box__text {
    font-family: var(--font-raleway);
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
}

.list__element {
    font-family: var(--font-opensans);
    font-size: 0.875rem;
    color: var(--color-black);
    padding: 0.625rem;
}

.element--1::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Checkmark-1.svg");
}

.element--2::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
}

.pricing__box__list {
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin-bottom: 40px;
}

.btn__box {
    display: block;
    position: relative;
}

.btn--pricing {
    width: 150px;
    height: 50px;
    position: relative;
    bottom: -25px;
    font-size: 0.8125rem;
}

.btn--pricing--violet {
    background-color: var(--color-violet);
}

.btn--pricing--violet:hover {
    box-shadow: 5px 10px 14px var(--color-violet-shadow);
}

.btn--pricing--primary {
    background-color: var(--color-primary);
}

.btn--pricing--primary:hover {
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.btn--pricing--green {
    background-color: var(--color-green);
}

.btn--pricing--green:hover {
    box-shadow: 5px 10px 14px var(--color-violet-shadow);
}

.pricing__box--basic:hover {
    width: 380px;
    height: 480px;
    box-shadow: 5px 1px 27px var(--color-violet-shadow);
}

.pricing__box--professional:hover {
    width: 380px;
    height: 480px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__box--premium:hover {
    width: 380px;
    height: 480px;
    box-shadow: 5px 1px 27px var(--color-green-shadow);
}


/*------------------------------------*\
  #CONTACT FORM
\*------------------------------------*/

.contact__container {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
}

.contact__form {
    width: 50%;
}

.contact__form--right {
    flex-basis: 440px;
    margin-bottom: 1.25rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    line-height: 3.6875rem;
}

.form__text {
    margin: 22px 0 42px;
    font-size: 1rem;
    line-height: 1.375rem;
    font-family: var(--font-opensans);
}

.form__info {
    font-family: var(--font-opensans);
    font-weight: 500;
    color: var(--color-grey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info--mail::before {
    content: url("../assets/Mail Icon.svg");
    height: 27px;
    margin-right: 8px;
}

.info--phone::before {
    content: url("../assets/Phone Icon.svg");
    height: 27px;
    margin-left: 20px;
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__row {
    display: flex;
    flex-direction: column;
}

.form__row:first-of-type {
    margin-bottom: 42px;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}

.form__label {
    font-family: var(--font-opensans);
    font-weight: 800;
    font-size: 0.6875rem;
    line-height: 0.9rem;
    letter-spacing: 3px;
    color: var(--color-primary);
    text-transform: uppercase;
}

.form__row--checkbox {
    margin-top: 30px;
}

.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}

.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.checkbox__text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}

.form__row--button {
    display: flex;
    justify-content: flex-end;
}

.btn--form {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
}

.btn--form:hover {
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
    width: 100%;
    box-shadow: 0 -5px 40px #00000029;
    padding: 15px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__box__media {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
}

.footer__logo {
    font-size: 1.625rem;
    padding-top: 20px;
    outline: none;
    margin-bottom: 10px;
}

.footer__text {
    font-family: var(--font-opensans);
    color: var(--color-grey);
    font-size: 0.6875rem;
    padding-top: 0.625rem;
}

